#mapid {
    height: 85vh;
    width: 85%;
    display: inline-block;
    margin-left: 7.5%;
    margin-top: 7.5vh;
}

.leaflet-popup-content-wrapper {
    opacity: 0.8;
}

.button {
    background: red;
}

.leaflet-control {
    opacity: .9;
}

.legend {
    line-height: 18px;
    color: black;
}
.legend i {
    width: 16px;
    height: 16px;
    float: left;
    margin-right: 8px;
    opacity: 1;
}

.info {
    padding: 6px 8px;
    font: 14px/16px Arial, Helvetica, sans-serif;
    background: white;
    background: rgba(255,255,255,1);
    box-shadow: 0 0 15px rgba(0,0,0,0.4);
    border-radius: 5px;
}